.Todo{
    box-shadow: 0px 0px 5px 5px lightgray;
    margin-top: 3vw;
    /* margin-left: 30vw; */
    /* border: 4px solid black; */
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.header{
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    /* background-color: linear-gradient(60, rgb(240, 240, 41) 60%, rgb(235, 232, 232) 60%); */
    /* background-color: brown; */
}

.Input{
    box-shadow: 0px 0px 5px 5px lightgray;
    padding: 25px;
    max-width: 450px;
    margin: 0 auto;
}

.Input-box{
    box-shadow: 0px 0px 5px 5px lightgray;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

.todoInput {
    outline: none;
    border: none;
    text-align: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px double;
}